<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sauceConnectUserName" value="{USERNAME}"/>
    <add key="sauceConnectAccessKey" value="{ACCESSKEY}"/>
    <add key="sauceConnectIdentifier" value="{IDENTIFIER}"/>
    <add key="sauceConnectPollInterval" value="60000"/>
  </appSettings>
</configuration>